.slider_car_inner
  display: flex
  flex-direction: column

.slider_car_content
  display: flex
  flex-direction: column
  gap: 10px

.slider_car_title
  font-size: 36px
  font-weight: 700

.slider_car_subtitle
  font-size: 24px
  font-weight: 400
  color: #716d6e

.slider_car_image
  display: flex
  flex-direction: row
  align-items: center
  justify-content: center
  width: 652px
  height: 375px
  & img
    display: block
    max-width: 100%
    height: auto
